.news-item {
    min-height: 250px;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 20px;
    border: slategray solid 1.5px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 8px rgba(83, 83, 83, 0.26);
    max-width: 100%;
    justify-content: left;
    gap: 30px;
    line-height: 2em;
}

.container-title-excerpt {
    display: flex;
    flex-direction: column;
    min-height: 220px;
}

h3 {
    margin-bottom: 20px;
}

a:link, :visited {
    text-decoration: none;
    color: black;
}

.paginate-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.2em;
    margin-bottom: 10px;
}
