.single-vacancy {
    background-color: #fff;
    padding: 20px;
}

.vacancy-info {
    margin: 0 auto;
    padding: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
}
ul {
    list-style-position: inside;
    margin: 20px 0px 30px 10px;
}