.single-vacancy {
    background-color: #fff;
    padding: 20px;
}

.vacancy-info {
    margin: 0 auto;
    padding: 50px;
    border: slategray solid 1.5px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 8px rgba(83, 83, 83, 0.26);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
    line-height: 2em;
}
ul {
    list-style-position: inside;
    margin: 20px 0px 30px 10px;
}